@import "tailwindcss";

:root {
  /* Base */
  --background: #16161a;
  --foreground: #fffffe;
  --background-section: #16161a;
}

@theme inline {
  /* Personal JB */
  --colorButton: #7f5af0;
  --sectionColor: #242629;
  --transparent: #00000000;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Gradiente personalizado */
.MyGradient {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

/* Scrollbar */
::-webkit-scrollbar {
  height: 0;
  width: 0;
}
